* {
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content:space-around;
    font-size: 24px;
    align-items: center;
    padding: 15px;
}

header h1 {
    font-size: 24px;
}

header ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    color: #E5E7EB;
    font-size: 18px;
}

header li { 
    margin: 20px;
}

/* header is done! :)*/

/* first section is done :)*/ 
.first-section {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    /*Is padding like this the best option?*/
}

.first-section h2 {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8; 
}

.first-section p {
    color: #E5E7EB; 
    font-size: 18px;
    margin-right: 30px;
    line-height: 30px;
}

.first-section img {
    width: 500px;
}

.button-one {
    background-color: #3882F6;
    font-size: 18px;
    border: 2px solid; 
    border-radius: 4px;
    border-color:#3882F6;
    color: #F9FAF8;
    padding: 10px 30px 10px 30px; 
    margin-top: 10px;
}


/*working on the second container */
.second-section {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.second-section h3 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;

}

.image-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.images {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.images img {
    display: flex;
    align-self: center;
}

.images figcaption {
    text-align: center;
    padding-top: 5px;
}

.second-section img {
    width: 200px;
    border-color: #3882F6;
}

/* Working on the quote section*/
.quote-section {
    background-color: #E5E7EB;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 300px; 
    padding-right: 300px;
    display: flex;
    flex-direction: column;
}

.quote {
    display: flex;
    justify-content: flex-start;
    font-weight: 200;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}

.thor {
    display: flex;
    justify-content: flex-end;
    font-weight: 800;
    color: #1F2937;
}

/*fourth section is done :)*/
.fourth-section {
    background-color: #3882F6;
    color:#E5E7EB;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}

.sign-up-text {
    display: flex;
    flex-direction: column;
}

.fourth-section h3 {
    font-weight: 800;
    color: #F9FAF8;
}

/*button is done :)*/
.button-two {
    background-color: #3882F6;
    font-size: 18px;
    border: 2px solid; 
    border-radius: 4px;
    border-color: #F9FAF8;
    color: #F9FAF8;
    padding: 10px 30px 10px 30px; 
}

/*footer is done :)*/
footer { 
    background-color: #1F2937;
    padding: 50px;
    display: flex;
    justify-content: center;
    color: #F9FAF8;
}