* {
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content:space-around;
    font-size: 24px;
    align-items: center;
    padding: 15px;
}

header h1 {
    font-size: 24px;
}

header ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    color: #E5E7EB;
    font-size: 18px;
}

header li { 
    margin: 20px;
}

/* header is done! :)*/

/* Working on the first section*/ 
.first-section {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    /*Is padding like this the best option?*/
}

.first-section h2 {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8; 
}

.first-section p {
    color: #E5E7EB; 
    font-size: 18px;
}

.first-section img {
    width: 500px;
}

/*.container-left {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    flex-wrap: wrap;
}*/

/*working on the second container */

.second-section {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.second-section h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.second-section .image-container {
    display: flex;
}

.second-section img {
    width: 200px;
    border-color: #3882F6;
}






.quote-section {
    background-color: #E5E7EB;
}

.fourth-section {
    background-color: #3882F6;
}

footer { 
    background-color: #1F2937;
}